.account-link-item {
  display: flex;
  align-items: center;
}

h3 {
  flex-grow: 1;
  text-align: left;
}

.account-link-item > :first-child {
  flex-grow: 1;
  text-align: left;
}

.account-link-item > * + * {
  margin-left: 1em;
}
