.overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;

  width: 100vw;
  height: 100vh;

  z-index: 990;
  padding: 2em 0;
}

.overlay[open] {
  display: flex;
}

.modal-container {
  width: 100%;
  max-height: 100%;
  max-width: 600px;

  z-index: 999;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: #ffffff;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.25);

  overflow: hidden;
}

.modal-card {
  width: 100%;
  height: auto;
  max-height: 100%;

  overflow-x: hidden;
  overflow-y: auto;
}

.button.x {
  font-size: 1.5em;
  font-weight: bold;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  border: none;
  color: #5a5a5a;
}

.button.x:hover {
  color: #ababab;
}

.modal-container > header {
  padding: 0.5em 0.5em 0.5em 0.5em;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  border-bottom-width: 1px;
  position: relative;
}

.modal-container > footer {
  padding: 0.5em 0.5em 0.5em 0.5em;
  width: 100%;
  border-top-style: solid;
  border-top-color: lightgray;
  border-top-width: 1px;
}

.modal-container > header > h1 {
  margin: 0;
  color: #5a5a5a;
  font-weight: lighter;
}

.modal-container > footer * + * {
  margin-left: 0.5em;
}

@media screen and (min-width: 600px) {
  .modal-container {
    border-radius: 0.5em;
  }
}
