.layout-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.layout {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 2.5em;
  margin: 2.5em;
}

.button {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0.25em;
  border-width: 0.055em;
  border-style: solid;
  text-decoration: none;
}

.button.primary {
  background-color: #827ffe;
  border-color: transparent;
  color: white;
}

.button.primary:hover {
  background-color: #403866;
  transition: background-color 0.2s;
}

.button.secondary {
  background-color: white;
  border-color: currentColor;
  color: #827ffe;
}

.button.secondary:hover {
  color: #403866;
  transition: color 0.2s;
}

.button.destructive {
  background-color: white;
  border-color: currentColor;
  color: #e4715c;
  font-weight: normal;
}

.button.destructive:hover {
  color: #585858;
  transition: color 0.2s;
}

.button.medium {
  font-size: 1em;
  padding: 0.65em 1.25em;
}

.button.large {
  font-size: 1.25em;
  padding: 0.65em 1.25em;
}

.label {
  color: black;
}

.label.primary {
  font-weight: bold;
}

.label.error {
  color: #e4715c;
}

.label.medium {
  font-size: 1em;
}

.label.large {
  font-size: 1.25em;
}

.form-submit-button {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}

.form-row {
  padding: 0.65em;
}

.form-row-multi {
  display: flex;
  justify-content: space-between;
}

input[type='email'],
input[type='text'],
input[type='password'] {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  color: #000;
  font-size: 1.25em;
  border-radius: 0.25em;
  padding: 0.65em 1em;
}

input[type='email']:focus,
input[type='text']:focus,
input[type='password']:focus {
  border-color: #6967d4;
  outline: none;
}

label {
  color: #666666;
}

.link {
  color: #6967d4;
}

.link:hover {
  color: #403866;
}

.form-error-container {
  display: none;
  list-style: none;
  width: 100%;
  border-radius: 0.25em;
  padding: 0.75em 1em;
  background-color: #ff9480;
  color: #404040;
}

.form-error-container[has-errors='true'] {
  display: block;
}

.document-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.card.form {
  width: 100%;
  max-width: 544px;
}

@media screen and (min-width: 550px) {
  .card.form {
    width: 75%;
  }
}

@media screen and (min-width: 900px) {
  .card.form {
    width: 40%;
  }
}
